{% extends 'base.html.twig' %}

{% block title %}Les séries{% endblock %}

{% block body %}
<h1>Toutes les séries</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title}} -  Catégorie {{ program.category.name}}</h2>
            <p>{{ program. synopsis }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { id: program.id }) }}">👀 En savoir plus 👀</a>
        </div>
    {% else %}
        <h2> Aucune série trouvée </h2>
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}